<div ng-controller="SingleChampion">
    <div class="border">
            <p id="info"><b>Champion</b> : {{single.Champion}}
            <br>
            <b>Role</b> : {{single.Role}}</p>
         
            <span id="info">{{single.Biography}}</span>
          <div id="imageContainer">
            <img ng-click="getChampion(post.id)"src="{{single.Image}}" style="height:200px";"width:200px">  
          </div>
    </div>
           <a href="/#/api"><button id="homeButton">Home</button></a>
    </div>
